@use "../foundation/various" as v;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

.top {
		font-family: "游明朝体", 'Yu Mincho', 'YuMincho', 'Noto Serif JP', serif;
		font-weight: normal;
		font-size: 90px;
	&__letter {
		&--first {
			color: #00e8fa;
		}
		&--second {
			color: #001429;
		}
		&--third {
			color: #043692;
		}
		&--fourth {
			color: #9300f0;
		}
	}
}

.box {
	font-family: v.$base_font;
	width: 336px;
	height: 216px;
	background-color: #FFF;
	box-shadow: 0 0 16px #00000029;
	display: flex;
	justify-content: center;
	align-items: center;
	&__title {
		text-align: center;
		&--gradation {
			font-size: 30px;
			color: #1446ba;
			background-image: -webkit-linear-gradient(265deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&--nomal {
			color: #141d83;
			font-size: 20px;
		}
	}
	&__text {
		font-size: v.$base_size;
		line-height: 26px;
		width: 264px;
		height: 56px;
	}
}

.intro {
	font-family: v.$base_font;
	&__name {
		font-size: 48px;
		color: #324658;
		&--first {
			font-size: 80px;
			&_ash {
			font-size: 80px;
			color: #413DF1;
			}
			&_og {
			font-size: 80px;
			color: #9300F0;
			}
		}
		&--second {
			font-size: 80px;
		}
		&--en {
			font-size: 100px;
			font-weight: 900;
			color: #324658;
			opacity: 0.1;
		}
	}
	&__heading {
		width: 332px;
		height: 56px;
		border: 2px solid #707070;
		box-shadow: 8px 10px 0 0 rgba(65, 61, 241, 1);
		padding-left: 24px;
		display: flex;
		align-items: center;
		&--txt {
			color: #324658;
			font-size: 24px;
			font-weight: 900;
			span {
				font-size: 18px;
				font-weight: 500;
				margin-left: 8px;
			}
		}
		&.og {
			box-shadow: 8px 10px 0 0 rgba(142, 0, 240, 1);
		}
	}
	&__content {
		width: 320px;
		background-color: rgba(139, 153, 171, 0.1);
		background-image: linear-gradient(-90deg, #fff 50%, transparent 50%),linear-gradient(#fff 50%, transparent 50%);
		background-size: 20px 20px;
	}
}

.voice {
	width: 375px;
	background-color: #413DF1;
	color: #FFF;
	font-family: v.$base_font;
	font-size: 14px;
	z-index: -1;
	padding: 24px 48px 48px;
	&__title {
		font-size: 24px;
		text-align: center;
		&--bottom {
			width: 80px;
			border-bottom: 4px solid #FFF;
			margin: 0 auto;
			padding-top: 8px;
		}
	}
	&__text {
		line-height: v.$base_l-height;
		position: relative;
		padding: 24px 16px;
		margin: 1em 0;
		top: 0;
		&::before {
			position: absolute;
			top: 0;
			content: "";
			width: 50px;
			height: 100%;
			display: inline-block;
			box-sizing: border-box;
			border-left: solid 2px #FFF;
			border-top: solid 2px #FFF;
			border-bottom: solid 2px #FFF;
			left: 0;
		}
		&::after {
			position: absolute;
			top: 0;
			content: "";
			width: 50px;
			height: 100%;
			display: inline-block;
			box-sizing: border-box;
			border-top: solid 2px #FFF;
			border-right: solid 2px #FFF;
			border-bottom: solid 2px #FFF;
			right: 0;
		}

	}
}

.wrapper {
	font-family: v.$base_font;
	font-size: 50px;
	color: v.$base_color;
	&__tag {
		font-weight: 700;
		color: #1754c6;
		opacity: 0.06;
		&--q {
			color: #FFF;
			opacity: 0.6;
		}
	}
	&__title {
		&--small {
			font-size: 28px;
			&_blue {
			color: #1754c6;
			}
			&_w {
			font-size: 28px;
			color: #FFF;
			}
		}
		&--large {
			font-size: 60px;
			&_blue {
			color: #1754c6;
			}
		}
		&--number {
			font-size: 88px;
			font-family: futura-pt-bold,sans-serif;
			font-weight: 700;
			font-style: normal;
			color: #1754c6;
		}
		&--bottom {
			width: 120px;
			border-bottom: 4px solid #1446ba;
			&_lb {
				width: 120px;
				border-bottom: 4px solid #00e5f8;
			}
		}
	}

}
.point {
	font-family: v.$base_font;
	color: v.$base_color;
	&__tag {
		font-size: 50px;
		font-weight: 600;
		color: #1754c6;
		opacity: 0.06;
	}
	&__title {
		font-size: 28px;
		color: #001429;
		&--large {
			font-size: 60px;
			color: #1754C6;
		}
		&--b {
			color: #1754C6;
		}
	}
	&__content {
		line-height: v.$base_l-height;
	}
	&__list {
		line-height: v.$base_l-height;
		&--title {
			background-color: #324658 ;
			width: 144px;
			height: 144px;
			color: #FFF;
			font-size: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&--txt {
			width: 280px;
			padding: 40px 24px 24px;
		}
	}
	._01 {
		background-color: rgba(0, 252, 250, 0.08) ;
	}
	._02 {
		background-color: rgba(65, 61, 241, 0.08) ;
	}
	._03 {
		background-color: rgba(147, 0, 240, 0.08) ;
	}
}

.question {
	font-family: v.$base_font;
}
.questionGroup {
	font-family: v.$base_font;
	background-color: #413DF1;
	border-radius: 16px;
	width: 352px;
	padding: 0 8px;
	&__list {
		background-color: #d3d2fc;
		border-radius: 16px;
		padding: 16px 8px 32px;
	
	}
}
/*
.number {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	width: 60px;
	height: 100px;
	border: solid 4px #111;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 28px;
		height: 28px;
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 30px;
		height: 12px;
		border-top: solid 30px #111;
		border-bottom: solid 30px #111;
		transform: translate(-50%, -50%);
	}

}

.d0::before {
	background-color: #ff0;
	box-shadow: -30px -30px #333,
						0px -30px #ff0,
						-30px 0px #ff0,
						0px 30px #333,
						30px 0px #ff0,
						30px 30px #333;
}
*/


