@use "../foundation/various" as v;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');
.top {

		.layout1,
		.layout2,
		.layout3,
		.layout4,
		.layout5,
		.layout6,
		.layout7,
		.layout8,
		.layout9,
		.layout10 {
			padding: 80px 16px;
		}
		
}

.box {
	font-family: v.$base_font;
	background-color: #001429;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px;
	&__title {
		text-align: center;
		padding: 2em;
		position: relative;
		&::before {
			content: "";
			width: 50px;
			height: 60px;
			position: absolute;
			border-left: solid 2px #FFF;
			border-top: solid 2px #FFF;
			top: 0;
			left: 0;
		}
		&::after {
			content: "";
			width: 50px;
			height: 60px;
			position: absolute;
			border-right: solid 2px #FFF;
			border-bottom: solid 2px #FFF;
			bottom: 0;
			right: 0;
		}
		&--gradation {
			font-size: 30px;
			color: #c6f21f;
		}
		&--nomal {
			color: #FFF;
			font-size: 20px;
		}
	}
	&__text {
		color: #FFF;
		font-size: v.$base_size;
		line-height: 26px;
	}
}

.intro {
	font-family: v.$base_font;
	&__teacher {
		background-color: #f0f0f0;
		position: relative;
		z-index: 0;
		&::before {
			content: "";
			position: absolute;
			top: 100px;
			bottom: 0;
			left: 0;
			right: 0;
			transform: skewY(-7deg);
			z-index: -1;
			background-color: #324658;
		}
	}
	&__name {
		font-family: "游明朝体", 'Yu Mincho', 'YuMincho', 'Noto Serif JP', serif;
		font-weight: 900;
		font-size: 90px;
		color: #324658;
		height: 90px;
		position: absolute;
		top: -50px;
	}
	&__ash {
		position: relative;
		span:nth-of-type(1){color:#446fc8}
		span:nth-of-type(2){position: absolute; left: 90px;}
		span:nth-of-type(3){font-size: 48px; position: absolute; top: 15px; left: 180px;}
		&::before {
			content: "ASHIZAWA";
			position: absolute;
			top: 80px;
			left: 0;
			font-family: v.$base_font;
			font-size: 100px;
			font-weight: 900;
			color: #324658;
			opacity: 0.1;
		}
	}
	&__ash--first {
		position: relative;
		&::before {
			content: "あっしー";
			position: absolute;
			font-family: v.$base_font;
			font-size: 20px;
			color: #446fc8;
			bottom: -20px;
			left: 15px;
		}
	}

	&__og {
		position: relative;
		span:nth-of-type(1){color:#446fc8}
		span:nth-of-type(2){position: absolute; left: 90px;}
		span:nth-of-type(3){font-size: 48px; position: absolute; top: 15px; left: 180px;}
		&::before {
			content: "OGINO";
			position: absolute;
			top: 80px;
			left: 0;
			font-family: v.$base_font;
			font-size: 100px;
			font-weight: 900;
			color: #324658;
			opacity: 0.1;
		}
	}
	&__og--first {
		position: relative;
		&::before {
			content: "おぎーの";
			position: absolute;
			font-family: v.$base_font;
			font-size: 20px;
			color: #446fc8;
			bottom: -20px;
			left: 8px;
		}
	}
	&__heading {
		align-items: center;
		&--txt {
			color: #FFF;
			font-size: 24px;
			font-weight: 900;
			text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
			span {
				font-size: 18px;
				font-weight: 500;
				margin-left: 8px;
			}
		}
		&--number {
			display: inline;
		}
	}
	&__content {
		background-color: rgba(139, 153, 171, 0.1);
		background-image: linear-gradient(-90deg, #fff 50%, transparent 50%),linear-gradient(#fff 50%, transparent 50%);
		background-size: 20px 20px;
	}
	&__box {
		background-color: rgba(255, 255, 255, 0.85);
		padding: 16px 24px;

	}
}

.voice {
	background-color: #413DF1;
	color: #FFF;
	font-family: v.$base_font;
	font-size: 14px;
	z-index: -1;
	padding: 24px 48px 48px;
	&__title {
		font-size: 15px;
		text-align: center;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 10%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 2em auto ;
			border-bottom: 2px solid #fff;

		}
	}
	&__text {
		line-height: v.$base_l-height;
		position: relative;
		padding: 24px 16px;
		margin: 2em 0;
		top: 0;
		&::before {
			position: absolute;
			top: 0;
			content: "";
			width: 50px;
			height: 100%;
			display: inline-block;
			box-sizing: border-box;
			border-left: solid 2px #FFF;
			border-top: solid 2px #FFF;
			border-bottom: solid 2px #FFF;
			left: 0;
		}
		&::after {
			position: absolute;
			top: 0;
			content: "";
			width: 50px;
			height: 100%;
			display: inline-block;
			box-sizing: border-box;
			border-top: solid 2px #FFF;
			border-right: solid 2px #FFF;
			border-bottom: solid 2px #FFF;
			right: 0;
		}

	}
}

.wrapper {
	font-family: v.$base_font;
	font-size: 50px;
	color: v.$base_color;
	&__title {
		font-size: 20px;
		padding-top: 1.5em;
		span:nth-of-type(2){font-size: 60px;}
		span:nth-of-type(3){font-size: 60px; color: #1754c6;}
		position: relative;
		margin: 0 auto;
		width: 100%;

		&--point {
			position: relative;
		}
		&--question {
			position: relative;
			color: #FFF;
		}
		&--contact {
			position: relative;
			color: #FFF;
		}
		&--how {
			position: relative;
			color: #FFF;
		}
		&::after {
			content: "";
			position: absolute;
			width: 20%;
			bottom: 0;
			left: 50%;
			border-bottom: 2px solid #BEF33B;
		}
		&--small {
			font-size: 28px;
			&_blue {
			color: #1754c6;
			}
			&_w {
			font-size: 28px;
			color: #FFF;
			}
		}
		&--large {
			font-size: 60px;
			&_blue {
			color: #1754c6;
			}
		}
		&--number {
			font-size: 88px;
			font-family: futura-pt-bold,sans-serif;
			font-weight: 700;
			font-style: normal;
			color: #1754c6;
		}
		&--bottom {
			border-bottom: 4px solid #1446ba;
			&_lb {
				border-bottom: 4px solid #00e5f8;
			}
		}
	}

}
.point {
	font-family: v.$base_font;
	color: v.$base_color;
	&__tag {
		font-size: 50px;
		font-weight: 600;
		color: #1754c6;
		opacity: 0.06;
	}
	&__title {
		font-size: 28px;
		color: #001429;
		&--large {
			font-size: 60px;
			color: #1754C6;
		}
		&--b {
			color: #1754C6;
		}
	}
	&__content {
		line-height: v.$base_l-height;
		&--txt {
			padding: 32px 24px 24px;
		}
	}
	&__list {
		line-height: v.$base_l-height;
		counter-reset: number;
		&--title {
			position: relative;
			font-family: futura-pt-bold,sans-serif;
			color: #141d83;
			font-size: 18px;
			line-height: 26px;
			display: flex;
			counter-increment: number;
			&::before {
				content: "";
				width: 4.8em;
				height: 4.8em;
				background: url(../../team/img/point_number.png) no-repeat;
				background-size: contain;
				display: inline-block;
				margin-top: -30px;
				margin-right: 10px;
			}
			&::after {
				position: absolute;
				display: block;
				top: -30px;
				left: 0;
				content: counter(number, decimal-leading-zero);
				font-size: 30px;
				font-weight: 900;
				border-radius: 50%;
				text-align: center;
				line-height: 72px;
				background: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				background: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				width: 72px;
				height: 72px;
			}
		}
		&--txt {
			color: #141d83;
			font-size: 15px;
			line-height: 23px;
			padding: 40px 24px 24px;
		}
	}
}

.question {
	font-family: v.$base_font;
	background-color: #44bed5;
		//.layout1,
		//.layout2,
		//.layout3,
		//.layout4,
		//.layout5,
		//.layout6,
		//.layout7,
		//.layout8,
		//.layout9,
		//.layout10 {
		//	padding: 80px 16px;
		//}
		.layout3 {
			padding: 0 40px;
		}
		.layout4 {
			padding: 0 40px 8px;
		}
		.layout5 {
			padding: 0 40px 8px;
		}
		.layout6 {
			padding: 0 40px 8px;
		}
		.layout7 {
			padding: 0 40px 8px;
		}
		.layout8 {
			padding: 0 40px 8px;
		}
		.layout9 {
			padding: 0 40px 8px;
		}
		.layout10 {
			padding: 0 40px 8px;
		}
		
}
.questionList {
	list-style: none;
	background-color: #FFF;
	border-radius: 16px;
	padding: 16px;
	height: 88px;
	position: relative;
	&__title {
		color: #446fc8;
	}
	&::after {
		content: "";
		position: absolute;
		width: 58px;
		height: 8px;
		border-bottom: 1px solid #3A61BD;
		border-right: 1px solid #3A61BD;
		transform: skew(45deg);
		bottom: 16px;
		right: 24px;
		pointer-events: none;
	}
}
.questionModal {
	background-color: #FFF;
	border-radius: 16px;
	padding: 16px;
	&__title {
		color: #446fc8;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 30%;
			bottom: -16px;
			right: 0;
			left: 0;
			margin: auto;
			border-bottom: 4px solid #2c3d4d;
		}
	}
	&__name {
		font-size: 24px;
		font-weight: 700;
		&--ash {
			font-size: 24px;
			color: #141d83;
		}
		&--og {
			font-size: 24px;
			color: #38B6CE;
		}
	}
	&__text {
			font-size: v.$base_size;
			color: #FFF;
			border-radius: 8px;
			padding: 24px 16px;
		&--ash {
			background-color: #141d83;
		}
		&--og {
			background-color: #38B6CE;
		}
	}
	&__button {
		display: flex;
		justify-content: space-between;
		&--l {
			width: 30px;
			height: 30px;
			border-radius: 50px;
			background-color: v.$base_color;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				margin: auto ;
				width: 8px;
				height: 8px;
				transform: rotate(45deg);
				border-bottom: solid 3px #FFF;
				border-left: solid 3px #FFF;
			}
		}
		&--r {
			width: 30px;
			height: 30px;
			border-radius: 50px;
			background-color: v.$base_color;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				margin: auto;
				width: 8px;
				height: 8px;
				transform: rotate(45deg);
				border-top: solid 3px #FFF;
				border-right: solid 3px #FFF;
			}
		}
	}
}
.modal {
	display: none;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100%;
}
.modal__bg {
	background: #000;
	height: 100vh;
	position: absolute;
	width: 100%;
}
.modal__content {
	background-color: #FFF;
	border-radius: 16px;
	left: 50%;
	padding: 40px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
}
.close {
	position: relative;
	left: 95%;
	display: inline-block;
	width: 24px;
	height: 2px;
	background: #98a6b5;
	transform: rotate(45deg);
	vertical-align: middle;
	text-align: right;
}
.close::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #98a6b5;
	transform: rotate(90deg);
}

.contact {
	font-family: v.$base_font;
	color: v.$base_color;
	background-color: #324658;
	&__lead {
		font-weight: 700;
		 span {
			background-color: #c6f21f;
			padding: 8px 16px;
			display: inline-block;
			margin-bottom: 8px;
		 }
	}
	&__list {
		counter-reset: l-number;
		counter-reset: r-number 3;
		&--l {
			position: relative;
			counter-increment: l-number;
			&::before {
				content: "";
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				content: counter(l-number);
				font-family: futura-pt-bold,sans-serif;
				color: #FFF;
				font-size: 130px;
				font-weight: 900;
				opacity: 0.24;
			}
		}
		&--r {
			position: relative;
			counter-increment: r-number;
			&::before {
				content: "";
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				content: counter(r-number);
				font-family: futura-pt-bold,sans-serif;
				color: #FFF;
				font-size: 130px;
				font-weight: 900;
				opacity: 0.24;
			}
		}
		&--title {
			font-weight: 600;
			color: #FFF;
			font-size: 24px;
			line-height: 32px;
			display: flex;
			justify-content: center;
		}
		&--text {
			color: #FFF;
			font-weight: 500;
			position: relative;
			padding: 1em;
			&::before {
				content: "";
				width: 56px;
				height:120px;
				position: absolute;
				border-left: solid 5px #FFF;
				border-top: solid 5px #FFF;
				border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image-slice: 1;
				top: 0;
				left: 0;
			}
			&::after {
				content: "";
				width: 56px;
				height:120px;
				position: absolute;
				border-right: solid 5px #FFF;
				border-bottom: solid 5px #FFF;
				border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image-slice: 1;
				bottom: 0;
				right: 0;
			}
		}
	}
	
}

.how {
	background-color: #3A61BD;
	&__lead {
		color: #FFF;
	}
	&__box {
		border: 2px solid #FFF;
		border-radius: 8px;
		padding: 64px 24px;
		color: #FFF;
	}
}

.conversion {
	&__lead {
		background-color: #c6f21f;
		font-weight: 700;
		padding: 8px 16px;
	}
	&__text {
		font-family: "游明朝体", 'Yu Mincho', 'YuMincho', 'Noto Serif JP', serif;
		font-weight: normal;
		font-size: 20px;
		&--lg {
			font-size: 40px;
			font-weight: 900;
		}
	}
	&__last {
		&--text {
			font-family: v.$base_font;
			font-size: v.$base_size;
			line-height: v.$base_l-height;
			color: v.$base_color;
			text-align: center;
		}
		&--button {
			text-align: center;
			border: 4px solid #38b6ce;
			border-radius: 16px;
			padding: 24px 48px;
		}
		&--link {
			font-size: 24px;
			letter-spacing: 2.4px;
			font-weight: 700;
			color: #44bed5;
			text-decoration: none;
		}
	}
}
/*
.number {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	width: 60px;
	height: 100px;
	border: solid 4px #111;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 28px;
		height: 28px;
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 30px;
		height: 12px;
		border-top: solid 30px #111;
		border-bottom: solid 30px #111;
		transform: translate(-50%, -50%);
	}

}

.d0::before {
	background-color: #ff0;
	box-shadow: -30px -30px #333,
						0px -30px #ff0,
						-30px 0px #ff0,
						0px 30px #333,
						30px 0px #ff0,
						30px 30px #333;
}
*/